<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<ion-content></ion-content>
<!-------------------------------GUIA DE TABS INFERIORES-------------------------------------->
<ion-tabs>

  <ion-tab-bar  slot="bottom" class="tabs-guide">
    <ion-tab-button (click)="desativarModos()" class="buttonChoise">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>View Mode</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="ativarModos()" class="buttonChoise">
      <ion-icon name="options"></ion-icon>
      <ion-label>Advanced Mode</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>





<!--------------------------------FIM---------------------------------------------------->