
<ion-content></ion-content>
<!-------------------------------GUIA DE TABS INFERIORES-------------------------------------->
<ion-tabs>

  <ion-tab-bar slot="bottom" class="tabs-guide">
    <ion-tab-button tab="view" class="button-tab">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>View Mode</ion-label>
    </ion-tab-button>

    <ion-tab-button class="button-tab">
      <ion-icon name="options"></ion-icon>
      <ion-label>Advanced Mode</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>





<!--------------------------------FIM---------------------------------------------------->