<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<ion-header class="ion-header">
    <ion-card class="card-top2">
        <ion-card-header class="card-color" id="card-color">
        </ion-card-header>
    </ion-card>
    <!-- CARD DO RANGE KNOB -->
    <ion-card class="card-top2">
        <ion-range min="380" max="781" step="1" (ionChange)="corEvento($event)" start="670"  mode="md"
            id="knob" snaps="true"></ion-range>
        <p class="waveletValue" text-center>
            <b id="wv"> λ = {{ compri }} <i>nm</i></b>
        </p>
    </ion-card>
</ion-header>
<ion-content>
    <div id="containerAIM"></div>
    <div id="containerSensogramaAIM"></div>
    <ion-segment bottom color="Primary" mode="md" value="aim">
        <ion-segment-button value="aim" (click)="aimShow()">
            <ion-label class="texts">SPR</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sensogram" (click)="sensogramaShow()">
            <ion-label class="texts">Sensogram</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-grid class="texts">
        <ion-row>
            <ion-col>Assimetry</ion-col>
            <ion-col>Min</ion-col>
            <ion-col>Width</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>{{assimetria}}</ion-col>
            <ion-col>{{minHunter}}</ion-col>
            <ion-col>{{largura}}</ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-fab>
                    <ion-fab-button id="advancedMode" color="light" size="small">
                        <ion-icon name="pulse"></ion-icon>
                    </ion-fab-button>
                    <ion-icon name="analytics"></ion-icon>
                    <ion-fab-list side="top">
                        <ion-fab-button>Min</ion-fab-button>
                        <ion-fab-button (click)="smoothingMethod()">SM</ion-fab-button>
                    </ion-fab-list>
                </ion-fab>
            </ion-col>
            <ion-col>
                <ion-fab-button color="light" size="small" (click)="ligthCardPosition()" id="advancedMode4">
                    <ion-icon name="bulb"></ion-icon>
                  </ion-fab-button>
            </ion-col>
            <ion-col>

                <ion-fab-button (click)="clickHide()" id="advancedMode3"  color="light" size="small">
                    <ion-icon name="md-color-filter"></ion-icon>
                  </ion-fab-button>
            </ion-col>
            <ion-col>
                <ion-fab-button id="advancedMode2" color="light" size="small" (click)="hideShowCam()">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col>
                <ion-fab-button color="light" size="small" (click)="calibraDryCell()">Dry</ion-fab-button>
            </ion-col>
            <ion-col>
                <ion-fab-button color="light" size="small" (click)="clear()">Clear</ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</footer>